<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog Edit Post</title>
</head>
<body>

<h1>Edit Post</h1>

<form th:action="@{/posts/{id}/edit(id=${id})}" th:method="POST" th:object="${post}">
    <div>
        <label for="title">Title</label>
        <br>
        <input id="title" th:field="*{title}" type="text" placeholder="Enter Blog Post Title" th:value="${post.title}">
    </div>
    <div>
        <label for="body">Body</label>
        <br>
        <textarea th:field="*{body}"   cols="30" rows="10" placeholder="Enter Blog Content" th:text="${post.body}"></textarea>
    </div>
    <button>Edit Post</button>
</form>

</body>
</html>