<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog Edit Post</title>
</head>
<body>

<h1>Edit Post</h1>

<form th:method="POST">
    <div>
        <label for="title">Title</label>
        <br>
        <input id="title" name="title" type="text" placeholder="Enter Blog Post Title" th:value="${post.title}">
    </div>
    <div>
        <label for="body">Body</label>
        <br>
        <textarea name="body" id="body" cols="30" rows="10" placeholder="Enter Blog Content" th:text="${post.body}"></textarea>
    </div>
    <button>Edit Post</button>
</form>

</body>
</html>